Vamos a trabajar con los archivos de extensión csv que están en la carpeta "Bases saludo taller" en el mismo directorio de mi script. 
Dame el codigo en python para iterar sobre todos los archivos csv para obtener el nombre de sus columnas y genera una tabla donde me los muestres

In [6]:
import os
import pandas as pd

# Directorio donde se encuentran los archivos CSV
directory = "Bases saludo taller"

# Lista para almacenar la información de las columnas
csv_columns_info = []

# Iterar sobre los archivos en el directorio
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        file_path = os.path.join(directory, filename)

        # Intentar leer con diferentes codificaciones
        encodings = ["utf-8", "latin1", "iso-8859-1"]
        for encoding in encodings:
            try:
                # Leer solo la primera fila para obtener los nombres de las columnas
                df = pd.read_csv(file_path, nrows=0, encoding=encoding)
                columns = df.columns.tolist()

                # Almacenar el nombre del archivo y sus columnas
                csv_columns_info.append({
                    "Archivo": filename,
                    "Columnas": ", ".join(columns)
                })

                print(f"Columnas extraídas exitosamente de {filename} con codificación {encoding}")
                break  # Salir del bucle si la lectura fue exitosa

            except Exception as e:
                print(f"Error al procesar {filename} con codificación {encoding}: {e}")

# Convertir la información en un DataFrame para mejor visualización
columns_df = pd.DataFrame(csv_columns_info)

# Configurar pandas para mostrar el contenido completo de las columnas y todas las filas
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

# Mostrar la tabla de archivos y sus columnas
print(columns_df)

Columnas extraídas exitosamente de DA_EC_SIS_2010.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2011.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2012.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2013.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2014.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2015.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2016.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2017.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2018.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2019.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2020.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2021.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2022.csv con codificación utf-8
Columnas extraídas exitosamente de DA_EC_SIS_2023.csv con codificación utf-8
               Archivo  \
0   DA_EC_SIS_2010.csv
1   DA_EC_SIS_2011.csv
2   DA_EC_SIS_2012.csv
3   DA_EC_SIS_2013.csv
4   DA_EC_SIS_2014.csv
5   DA_EC_SIS_2015.csv
6   DA_EC_SIS_2016.csv
7   DA_EC_SIS_2017.csv
8   DA_EC_SIS_2018.csv
9   DA_EC_SIS_2019.csv
10  DA_EC_SIS_2020.csv
11  DA_EC_SIS_2021.csv
12  DA_EC_SIS_2022.csv
13  DA_EC_SIS_2023.csv

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         Columnas
0                                                                                                                   Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, PDM01
1                                                                                                                   Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, PDM01
2                                                                                                                   Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, PDM01
3                                                                                                     Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, PDM01, RHP01, RHP02
4                                                                                                     Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, PDM01, RHP01, RHP02
5                                                                                       Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, HBA01, HBA02, HBA03, PDM02, PDM03
6                                             Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PMA01, PDM02, PDM03, RUN01
7                                             Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PMA01, PDM02, PDM03, RUN01
8                                             Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PMA01, PDM02, PDM03, RUN01
9                                             Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PMA01, PDM02, PDM03, RUN01
10                                            Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, MES, ANIO, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PDM02, PDM03, PMA01, RUN01
11  CLAVE_ENTIDAD, ENTIDAD, CLAVE_MUNICIPIO, MUNICIPIO, CLUES, NOMBRE_CLUES, MES, ANIO, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, ADM19, ADM20, ADM21, ADM22, ADM23, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PDM02, PDM03, PMA01, PMA02, RUN01
12  CLAVE_ENTIDAD, ENTIDAD, CLAVE_MUNICIPIO, MUNICIPIO, CLUES, NOMBRE_CLUES, MES, ANIO, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, ADM19, ADM20, ADM21, ADM22, ADM23, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PDM02, PDM03, PMA01, PMA02, RUN01
13  CLAVE_ENTIDAD, ENTIDAD, CLAVE_MUNICIPIO, MUNICIPIO, CLUES, NOMBRE_CLUES, MES, ANIO, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, ADM19, ADM20, ADM21, ADM22, ADM23, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PDM02, PDM03, PMA01, PMA02, RUN01

In [7]:
columns_df

,Archivo,Columnas
0,DA_EC_SIS_2010.csv,"Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, PDM01"
1,DA_EC_SIS_2011.csv,"Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, PDM01"
2,DA_EC_SIS_2012.csv,"Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, PDM01"
3,DA_EC_SIS_2013.csv,"Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, PDM01, RHP01, RHP02"
4,DA_EC_SIS_2014.csv,"Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, PDM01, RHP01, RHP02"
5,DA_EC_SIS_2015.csv,"Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, HBA01, HBA02, HBA03, PDM02, PDM03"
6,DA_EC_SIS_2016.csv,"Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PMA01, PDM02, PDM03, RUN01"
7,DA_EC_SIS_2017.csv,"Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PMA01, PDM02, PDM03, RUN01"
8,DA_EC_SIS_2018.csv,"Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PMA01, PDM02, PDM03, RUN01"
9,DA_EC_SIS_2019.csv,"Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, Mes, Anio, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PMA01, PDM02, PDM03, RUN01"
10,DA_EC_SIS_2020.csv,"Clave_Entidad, Entidad, Clave_Municipio, Municipio, CLUES, Nombre_CLUES, MES, ANIO, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PDM02, PDM03, PMA01, RUN01"
11,DA_EC_SIS_2021.csv,"CLAVE_ENTIDAD, ENTIDAD, CLAVE_MUNICIPIO, MUNICIPIO, CLUES, NOMBRE_CLUES, MES, ANIO, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, ADM19, ADM20, ADM21, ADM22, ADM23, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PDM02, PDM03, PMA01, PMA02, RUN01"
12,DA_EC_SIS_2022.csv,"CLAVE_ENTIDAD, ENTIDAD, CLAVE_MUNICIPIO, MUNICIPIO, CLUES, NOMBRE_CLUES, MES, ANIO, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, ADM19, ADM20, ADM21, ADM22, ADM23, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PDM02, PDM03, PMA01, PMA02, RUN01"
13,DA_EC_SIS_2023.csv,"CLAVE_ENTIDAD, ENTIDAD, CLAVE_MUNICIPIO, MUNICIPIO, CLUES, NOMBRE_CLUES, MES, ANIO, ADL02, ADL03, ADL05, ADL06, ADL08, ADL09, ADL11, ADL12, ADL14, ADL15, ADL17, ADL18, ADM02, ADM03, ADM05, ADM06, ADM08, ADM09, ADM11, ADM12, ADM14, ADM15, ADM17, ADM18, ADM19, ADM20, ADM21, ADM22, ADM23, AEC02, AEC03, AEC05, AEC06, AEC08, AEC09, AEC11, AEC12, AEC14, AEC15, AEC17, AEC18, AHA02, AHA03, AHA05, AHA06, AHA08, AHA09, AHA11, AHA12, AHA14, AHA15, AHA17, AHA18, AOB02, AOB03, AOB05, AOB06, AOB08, AOB09, AOB11, AOB12, AOB14, AOB15, AOB17, AOB18, FRS01, FRS02, FRS03, FRS04, HBA01, HBA02, HBA03, PDM02, PDM03, PMA01, PMA02, RUN01"

Vamos a trabajar con los archivos de extensión csv que están en la carpeta "Bases saludo taller"
1. Dame el codigo para iterar sobre cada archivo csv con el fin de normalizar el nombre de las columnas, de manera que todos los nombres de las columnas estén en mayusculas. Luego normaliza que el orden de las columnas sea tal que siempre estas sean las primeras "CLAVE_ENTIDAD, ENTIDAD, CLAVE_MUNICIPIO, MUNICIPIO, CLUES, NOMBRE_CLUES, MES, ANIO" y las restantes se ordenen en orden alfabetico. 
2. Tambien, alli donde en las columnas encuentrs el texto "NULL" cambialo por espacios en blanco. 
3. Guarda los cambios en un archivo csv que al final tenga en el nombre "normalizado".

In [8]:
import os
import pandas as pd

# Directorio donde se encuentran los archivos CSV
directory = "Bases saludo taller"

# Columnas prioritarias para el orden
priority_columns = ["CLAVE_ENTIDAD", "ENTIDAD", "CLAVE_MUNICIPIO", "MUNICIPIO", "CLUES", "NOMBRE_CLUES", "MES", "ANIO"]

# Iterar sobre los archivos en el directorio
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        file_path = os.path.join(directory, filename)

        # Intentar leer con diferentes codificaciones
        encodings = ["utf-8", "latin1", "iso-8859-1"]
        for encoding in encodings:
            try:
                # Leer el archivo completo
                df = pd.read_csv(file_path, encoding=encoding)

                # Normalizar nombres de columnas a mayúsculas
                df.columns = [col.upper() for col in df.columns]

                # Reemplazar "NULL" por espacios en blanco
                df.replace("NULL", "", inplace=True)

                # Asegurar el orden de las columnas
                existing_priority = [col for col in priority_columns if col in df.columns]
                remaining_columns = sorted([col for col in df.columns if col not in existing_priority])
                new_column_order = existing_priority + remaining_columns

                df = df[new_column_order]

                # Guardar el archivo normalizado
                normalized_filename = filename.replace(".csv", "_normalizado.csv")
                normalized_path = os.path.join(directory, normalized_filename)
                df.to_csv(normalized_path, index=False, encoding=encoding)

                print(f"Archivo {normalized_filename} guardado exitosamente.")

                break  # Salir del bucle si la lectura fue exitosa

            except Exception as e:
                print(f"Error al procesar {filename} con codificación {encoding}: {e}")

Archivo DA_EC_SIS_2010_normalizado.csv guardado exitosamente.
Archivo DA_EC_SIS_2011_normalizado.csv guardado exitosamente.
Archivo DA_EC_SIS_2012_normalizado.csv guardado exitosamente.
Archivo DA_EC_SIS_2013_normalizado.csv guardado exitosamente.
Archivo DA_EC_SIS_2014_normalizado.csv guardado exitosamente.
Archivo DA_EC_SIS_2015_normalizado.csv guardado exitosamente.
Archivo DA_EC_SIS_2016_normalizado.csv guardado exitosamente.
Archivo DA_EC_SIS_2017_normalizado.csv guardado exitosamente.
Archivo DA_EC_SIS_2018_normalizado.csv guardado exitosamente.
Archivo DA_EC_SIS_2019_normalizado.csv guardado exitosamente.
Error al procesar DA_EC_SIS_2020.csv con codificación utf-8: 'utf-8' codec can't decode byte 0xd3 in position 4: invalid continuation byte
Archivo DA_EC_SIS_2020_normalizado.csv guardado exitosamente.
Error al procesar DA_EC_SIS_2021.csv con codificación utf-8: 'utf-8' codec can't decode byte 0xcd in position 3: invalid continuation byte
Archivo DA_EC_SIS_2021_normalizado.csv guardado exitosamente.
Error al procesar DA_EC_SIS_2022.csv con codificación utf-8: 'utf-8' codec can't decode byte 0xcd in position 3: invalid continuation byte
Archivo DA_EC_SIS_2022_normalizado.csv guardado exitosamente.
Error al procesar DA_EC_SIS_2023.csv con codificación utf-8: 'utf-8' codec can't decode byte 0xcd in position 3: invalid continuation byte
Archivo DA_EC_SIS_2023_normalizado.csv guardado exitosamente.

Ahora dame el codigo para que, iterando entre los archivos csv que están en la carpeta "Bases saludo taller" y cuyo nombre termina en "_normalizado", se obtengan las filas duplicadas. Si hay filas duplicadas imprime un mensaje y la ubicación de la fila antes de eliminar los duplicados manteniendo el primero. 

2. genera un codigo que itere sobre estos archivos y reporte cuantos y cuales tipos de datos contiene cada columna de cada archivo. Me interesa saber si cada columna tiene más de un tipo de dato.

In [10]:
import os
import pandas as pd

# Directorio donde se encuentran los archivos CSV
directory = "Bases saludo taller"

# Codificaciones a intentar
encodings = ["utf-8", "latin1", "iso-8859-1"]

# Iterar sobre los archivos normalizados
for filename in os.listdir(directory):
    if filename.endswith("_normalizado.csv"):
        file_path = os.path.join(directory, filename)
        processed = False  # Bandera para verificar si el archivo se procesó correctamente

        for encoding in encodings:
            try:
                # Leer el archivo con diferentes codificaciones
                df = pd.read_csv(file_path, encoding=encoding, low_memory=False)

                # Verificar filas duplicadas
                duplicated_rows = df[df.duplicated(keep=False)]

                if not duplicated_rows.empty:
                    print(f"\nDuplicados encontrados en {filename}:")
                    # Obtener las ubicaciones (índices) de las filas duplicadas
                    duplicate_indices = duplicated_rows.index.tolist()
                    print(f"Índices de filas duplicadas: {duplicate_indices}")

                    # Mostrar las filas duplicadas
                    print(duplicated_rows)

                    # Eliminar duplicados manteniendo la primera aparición
                    df = df.drop_duplicates(keep='first')

                    # Guardar el archivo sin duplicados
                    df.to_csv(file_path, index=False, encoding=encoding)
                    print(f"Duplicados eliminados en {filename}. Archivo actualizado guardado.")

                else:
                    print(f"No se encontraron duplicados en {filename}.")

                processed = True  # Marcar como procesado correctamente
                break  # Salir del bucle si la lectura fue exitosa

            except Exception as e:
                print(f"Error al procesar {filename} con codificación {encoding}: {e}")
                continue  # Probar con la siguiente codificación

        if not processed:
            print(f"No se pudo procesar {filename} con ninguna de las codificaciones.")

No se encontraron duplicados en DA_EC_SIS_2010_normalizado.csv.
No se encontraron duplicados en DA_EC_SIS_2011_normalizado.csv.
No se encontraron duplicados en DA_EC_SIS_2012_normalizado.csv.
No se encontraron duplicados en DA_EC_SIS_2013_normalizado.csv.
No se encontraron duplicados en DA_EC_SIS_2014_normalizado.csv.
No se encontraron duplicados en DA_EC_SIS_2015_normalizado.csv.
No se encontraron duplicados en DA_EC_SIS_2016_normalizado.csv.
No se encontraron duplicados en DA_EC_SIS_2017_normalizado.csv.
No se encontraron duplicados en DA_EC_SIS_2018_normalizado.csv.
No se encontraron duplicados en DA_EC_SIS_2019_normalizado.csv.
Error al procesar DA_EC_SIS_2020_normalizado.csv con codificación utf-8: 'utf-8' codec can't decode byte 0xc9 in position 11: invalid continuation byte
No se encontraron duplicados en DA_EC_SIS_2020_normalizado.csv.
Error al procesar DA_EC_SIS_2021_normalizado.csv con codificación utf-8: 'utf-8' codec can't decode byte 0xc9 in position 11: invalid continuation byte
No se encontraron duplicados en DA_EC_SIS_2021_normalizado.csv.
Error al procesar DA_EC_SIS_2022_normalizado.csv con codificación utf-8: 'utf-8' codec can't decode byte 0xc9 in position 11: invalid continuation byte
No se encontraron duplicados en DA_EC_SIS_2022_normalizado.csv.
Error al procesar DA_EC_SIS_2023_normalizado.csv con codificación utf-8: 'utf-8' codec can't decode byte 0xc9 in position 11: invalid continuation byte
No se encontraron duplicados en DA_EC_SIS_2023_normalizado.csv.

identificar tipos de valores

In [11]:
import os
import pandas as pd

# Directorio donde se encuentran los archivos CSV
directory = "Bases saludo taller"

# Codificaciones a intentar
encodings = ["utf-8", "latin1", "iso-8859-1"]

# Iterar sobre los archivos normalizados
for filename in os.listdir(directory):
    if filename.endswith("_normalizado.csv"):
        file_path = os.path.join(directory, filename)
        processed = False  # Bandera para verificar si el archivo se procesó correctamente

        for encoding in encodings:
            try:
                # Leer el archivo con diferentes codificaciones
                df = pd.read_csv(file_path, encoding=encoding, low_memory=False)

                print(f"\nAnálisis de tipos de datos en {filename} (codificación: {encoding}):")

                # Iterar sobre cada columna
                for col in df.columns:
                    # Obtener tipos de datos únicos en la columna
                    unique_types = df[col].dropna().apply(type).unique()

                    # Reportar si hay más de un tipo de dato
                    if len(unique_types) > 1:
                        print(f"  - Columna '{col}' tiene múltiples tipos de datos: {[t.__name__ for t in unique_types]}")
                    else:
                        print(f"  - Columna '{col}' tiene un solo tipo de dato: {unique_types[0].__name__ if unique_types.size > 0 else 'vacío'}")

                processed = True  # Marcar como procesado correctamente
                break  # Salir del bucle si la lectura fue exitosa

            except Exception as e:
                print(f"Error al procesar {filename} con codificación {encoding}: {e}")
                continue  # Probar con la siguiente codificación

        if not processed:
            print(f"No se pudo procesar {filename} con ninguna de las codificaciones.")

Análisis de tipos de datos en DA_EC_SIS_2010_normalizado.csv (codificación: utf-8):
  - Columna 'CLAVE_ENTIDAD' tiene un solo tipo de dato: int
  - Columna 'ENTIDAD' tiene un solo tipo de dato: str
  - Columna 'CLAVE_MUNICIPIO' tiene un solo tipo de dato: int
  - Columna 'MUNICIPIO' tiene un solo tipo de dato: str
  - Columna 'CLUES' tiene un solo tipo de dato: str
  - Columna 'NOMBRE_CLUES' tiene un solo tipo de dato: str
  - Columna 'MES' tiene un solo tipo de dato: int
  - Columna 'ANIO' tiene un solo tipo de dato: int
  - Columna 'ADL02' tiene un solo tipo de dato: float
  - Columna 'ADL03' tiene un solo tipo de dato: float
  - Columna 'ADL05' tiene un solo tipo de dato: float
  - Columna 'ADL06' tiene un solo tipo de dato: float
  - Columna 'ADL08' tiene un solo tipo de dato: float
  - Columna 'ADL09' tiene un solo tipo de dato: float
  - Columna 'ADL11' tiene un solo tipo de dato: float
  - Columna 'ADL12' tiene un solo tipo de dato: float
  - Columna 'ADL14' tiene un solo tipo de dato: float
  - Columna 'ADL15' tiene un solo tipo de dato: float
  - Columna 'ADL17' tiene un solo tipo de dato: float
  - Columna 'ADL18' tiene un solo tipo de dato: float
  - Columna 'ADM02' tiene un solo tipo de dato: float
  - Columna 'ADM03' tiene un solo tipo de dato: float
  - Columna 'ADM05' tiene un solo tipo de dato: float
  - Columna 'ADM06' tiene un solo tipo de dato: float
  - Columna 'ADM08' tiene un solo tipo de dato: float
  - Columna 'ADM09' tiene un solo tipo de dato: float
  - Columna 'ADM11' tiene un solo tipo de dato: float
  - Columna 'ADM12' tiene un solo tipo de dato: float
  - Columna 'ADM14' tiene un solo tipo de dato: float
  - Columna 'ADM15' tiene un solo tipo de dato: float
  - Columna 'ADM17' tiene un solo tipo de dato: float
  - Columna 'ADM18' tiene un solo tipo de dato: float
  - Columna 'AEC02' tiene un solo tipo de dato: float
  - Columna 'AEC03' tiene un solo tipo de dato: float
  - Columna 'AEC05' tiene un solo tipo de dato: float
  - Columna 'AEC06' tiene un solo tipo de dato: float
  - Columna 'AEC08' tiene un solo tipo de dato: float
  - Columna 'AEC09' tiene un solo tipo de dato: float
  - Columna 'AEC11' tiene un solo tipo de dato: float
  - Columna 'AEC12' tiene un solo tipo de dato: float
  - Columna 'AEC14' tiene un solo tipo de dato: float
  - Columna 'AEC15' tiene un solo tipo de dato: float
  - Columna 'AEC17' tiene un solo tipo de dato: float
  - Columna 'AEC18' tiene un solo tipo de dato: float
  - Columna 'AHA02' tiene un solo tipo de dato: float
  - Columna 'AHA03' tiene un solo tipo de dato: float
  - Columna 'AHA05' tiene un solo tipo de dato: float
  - Columna 'AHA06' tiene un solo tipo de dato: float
  - Columna 'AHA08' tiene un solo tipo de dato: float
  - Columna 'AHA09' tiene un solo tipo de dato: float
  - Columna 'AHA11' tiene un solo tipo de dato: float
  - Columna 'AHA12' tiene un solo tipo de dato: float
  - Columna 'AHA14' tiene un solo tipo de dato: float
  - Columna 'AHA15' tiene un solo tipo de dato: float
  - Columna 'AHA17' tiene un solo tipo de dato: float
  - Columna 'AHA18' tiene un solo tipo de dato: float
  - Columna 'AOB02' tiene un solo tipo de dato: float
  - Columna 'AOB03' tiene un solo tipo de dato: float
  - Columna 'AOB05' tiene un solo tipo de dato: float
  - Columna 'AOB06' tiene un solo tipo de dato: float
  - Columna 'AOB08' tiene un solo tipo de dato: float
  - Columna 'AOB09' tiene un solo tipo de dato: float
  - Columna 'AOB11' tiene un solo tipo de dato: float
  - Columna 'AOB12' tiene un solo tipo de dato: float
  - Columna 'AOB14' tiene un solo tipo de dato: float
  - Columna 'AOB15' tiene un solo tipo de dato: float
  - Columna 'AOB17' tiene un solo tipo de dato: float
  - Columna 'AOB18' tiene un solo tipo de dato: float
  - Columna 'PDM01' tiene un solo tipo de dato: float

Análisis de tipos de datos en DA_EC_SIS_2011_normalizado.csv (codificación: utf-8):
  - Columna 'CLAVE_ENTIDAD' tiene un solo tipo de dato: int
  - Columna 'ENTIDAD' tiene un solo tipo de dato: str
  - Columna 'CLAVE_MUNICIPIO' tiene un solo tipo de dato: int
  - Columna 'MUNICIPIO' tiene un solo tipo de dato: str
  - Columna 'CLUES' tiene un solo tipo de dato: str
  - Columna 'NOMBRE_CLUES' tiene un solo tipo de dato: str
  - Columna 'MES' tiene un solo tipo de dato: int
  - Columna 'ANIO' tiene un solo tipo de dato: int
  - Columna 'ADL02' tiene un solo tipo de dato: float
  - Columna 'ADL03' tiene un solo tipo de dato: float
  - Columna 'ADL05' tiene un solo tipo de dato: float
  - Columna 'ADL06' tiene un solo tipo de dato: float
  - Columna 'ADL08' tiene un solo tipo de dato: float
  - Columna 'ADL09' tiene un solo tipo de dato: float
  - Columna 'ADL11' tiene un solo tipo de dato: float
  - Columna 'ADL12' tiene un solo tipo de dato: float
  - Columna 'ADL14' tiene un solo tipo de dato: float
  - Columna 'ADL15' tiene un solo tipo de dato: float
  - Columna 'ADL17' tiene un solo tipo de dato: float
  - Columna 'ADL18' tiene un solo tipo de dato: float
  - Columna 'ADM02' tiene un solo tipo de dato: float
  - Columna 'ADM03' tiene un solo tipo de dato: float
  - Columna 'ADM05' tiene un solo tipo de dato: float
  - Columna 'ADM06' tiene un solo tipo de dato: float
  - Columna 'ADM08' tiene un solo tipo de dato: float
  - Columna 'ADM09' tiene un solo tipo de dato: float
  - Columna 'ADM11' tiene un solo tipo de dato: float
  - Columna 'ADM12' tiene un solo tipo de dato: float
  - Columna 'ADM14' tiene un solo tipo de dato: float
  - Columna 'ADM15' tiene un solo tipo de dato: float
  - Columna 'ADM17' tiene un solo tipo de dato: float
  - Columna 'ADM18' tiene un solo tipo de dato: float
  - Columna 'AEC02' tiene un solo tipo de dato: float
  - Columna 'AEC03' tiene un solo tipo de dato: float
  - Columna 'AEC05' tiene un solo tipo de dato: float
  - Columna 'AEC06' tiene un solo tipo de dato: float
  - Columna 'AEC08' tiene un solo tipo de dato: float
  - Columna 'AEC09' tiene un solo tipo de dato: float
  - Columna 'AEC11' tiene un solo tipo de dato: float
  - Columna 'AEC12' tiene un solo tipo de dato: float
  - Columna 'AEC14' tiene un solo tipo de dato: float
  - Columna 'AEC15' tiene un solo tipo de dato: float
  - Columna 'AEC17' tiene un solo tipo de dato: float
  - Columna 'AEC18' tiene un solo tipo de dato: float
  - Columna 'AHA02' tiene un solo tipo de dato: float
  - Columna 'AHA03' tiene un solo tipo de dato: float
  - Columna 'AHA05' tiene un solo tipo de dato: float
  - Columna 'AHA06' tiene un solo tipo de dato: float
  - Columna 'AHA08' tiene un solo tipo de dato: float
  - Columna 'AHA09' tiene un solo tipo de dato: float
  - Columna 'AHA11' tiene un solo tipo de dato: float
  - Columna 'AHA12' tiene un solo tipo de dato: float
  - Columna 'AHA14' tiene un solo tipo de dato: float
  - Columna 'AHA15' tiene un solo tipo de dato: float
  - Columna 'AHA17' tiene un solo tipo de dato: float
  - Columna 'AHA18' tiene un solo tipo de dato: float
  - Columna 'AOB02' tiene un solo tipo de dato: float
  - Columna 'AOB03' tiene un solo tipo de dato: float
  - Columna 'AOB05' tiene un solo tipo de dato: float
  - Columna 'AOB06' tiene un solo tipo de dato: float
  - Columna 'AOB08' tiene un solo tipo de dato: float
  - Columna 'AOB09' tiene un solo tipo de dato: float
  - Columna 'AOB11' tiene un solo tipo de dato: float
  - Columna 'AOB12' tiene un solo tipo de dato: float
  - Columna 'AOB14' tiene un solo tipo de dato: float
  - Columna 'AOB15' tiene un solo tipo de dato: float
  - Columna 'AOB17' tiene un solo tipo de dato: float
  - Columna 'AOB18' tiene un solo tipo de dato: float
  - Columna 'PDM01' tiene un solo tipo de dato: float

Análisis de tipos de datos en DA_EC_SIS_2012_normalizado.csv (codificación: utf-8):
  - Columna 'CLAVE_ENTIDAD' tiene un solo tipo de dato: int
  - Columna 'ENTIDAD' tiene un solo tipo de dato: str
  - Columna 'CLAVE_MUNICIPIO' tiene un solo tipo de dato: int
  - Columna 'MUNICIPIO' tiene un solo tipo de dato: str
  - Columna 'CLUES' tiene un solo tipo de dato: str
  - Columna 'NOMBRE_CLUES' tiene un solo tipo de dato: str
  - Columna 'MES' tiene un solo tipo de dato: int
  - Columna 'ANIO' tiene un solo tipo de dato: int
  - Columna 'ADL02' tiene un solo tipo de dato: float
  - Columna 'ADL03' tiene un solo tipo de dato: float
  - Columna 'ADL05' tiene un solo tipo de dato: float
  - Columna 'ADL06' tiene un solo tipo de dato: float
  - Columna 'ADL08' tiene un solo tipo de dato: float
  - Columna 'ADL09' tiene un solo tipo de dato: float
  - Columna 'ADL11' tiene un solo tipo de dato: float
  - Columna 'ADL12' tiene un solo tipo de dato: float
  - Columna 'ADL14' tiene un solo tipo de dato: float
  - Columna 'ADL15' tiene un solo tipo de dato: float
  - Columna 'ADL17' tiene un solo tipo de dato: float
  - Columna 'ADL18' tiene un solo tipo de dato: float
  - Columna 'ADM02' tiene un solo tipo de dato: float
  - Columna 'ADM03' tiene un solo tipo de dato: float
  - Columna 'ADM05' tiene un solo tipo de dato: float
  - Columna 'ADM06' tiene un solo tipo de dato: float
  - Columna 'ADM08' tiene un solo tipo de dato: float
  - Columna 'ADM09' tiene un solo tipo de dato: float
  - Columna 'ADM11' tiene un solo tipo de dato: float
  - Columna 'ADM12' tiene un solo tipo de dato: float
  - Columna 'ADM14' tiene un solo tipo de dato: float
  - Columna 'ADM15' tiene un solo tipo de dato: float
  - Columna 'ADM17' tiene un solo tipo de dato: float
  - Columna 'ADM18' tiene un solo tipo de dato: float
  - Columna 'AEC02' tiene un solo tipo de dato: float
  - Columna 'AEC03' tiene un solo tipo de dato: float
  - Columna 'AEC05' tiene un solo tipo de dato: float
  - Columna 'AEC06' tiene un solo tipo de dato: float
  - Columna 'AEC08' tiene un solo tipo de dato: float
  - Columna 'AEC09' tiene un solo tipo de dato: float
  - Columna 'AEC11' tiene un solo tipo de dato: float
  - Columna 'AEC12' tiene un solo tipo de dato: float
  - Columna 'AEC14' tiene un solo tipo de dato: float
  - Columna 'AEC15' tiene un solo tipo de dato: float
  - Columna 'AEC17' tiene un solo tipo de dato: float
  - Columna 'AEC18' tiene un solo tipo de dato: float
  - Columna 'AHA02' tiene un solo tipo de dato: float
  - Columna 'AHA03' tiene un solo tipo de dato: float
  - Columna 'AHA05' tiene un solo tipo de dato: float
  - Columna 'AHA06' tiene un solo tipo de dato: float
  - Columna 'AHA08' tiene un solo tipo de dato: float
  - Columna 'AHA09' tiene un solo tipo de dato: float
  - Columna 'AHA11' tiene un solo tipo de dato: float
  - Columna 'AHA12' tiene un solo tipo de dato: float
  - Columna 'AHA14' tiene un solo tipo de dato: float
  - Columna 'AHA15' tiene un solo tipo de dato: float
  - Columna 'AHA17' tiene un solo tipo de dato: float
  - Columna 'AHA18' tiene un solo tipo de dato: float
  - Columna 'AOB02' tiene un solo tipo de dato: float
  - Columna 'AOB03' tiene un solo tipo de dato: float
  - Columna 'AOB05' tiene un solo tipo de dato: float
  - Columna 'AOB06' tiene un solo tipo de dato: float
  - Columna 'AOB08' tiene un solo tipo de dato: float
  - Columna 'AOB09' tiene un solo tipo de dato: float
  - Columna 'AOB11' tiene un solo tipo de dato: float
  - Columna 'AOB12' tiene un solo tipo de dato: float
  - Columna 'AOB14' tiene un solo tipo de dato: float
  - Columna 'AOB15' tiene un solo tipo de dato: float
  - Columna 'AOB17' tiene un solo tipo de dato: float
  - Columna 'AOB18' tiene un solo tipo de dato: float
  - Columna 'PDM01' tiene un solo tipo de dato: float

Análisis de tipos de datos en DA_EC_SIS_2013_normalizado.csv (codificación: utf-8):
  - Columna 'CLAVE_ENTIDAD' tiene un solo tipo de dato: int
  - Columna 'ENTIDAD' tiene un solo tipo de dato: str
  - Columna 'CLAVE_MUNICIPIO' tiene un solo tipo de dato: int
  - Columna 'MUNICIPIO' tiene un solo tipo de dato: str
  - Columna 'CLUES' tiene un solo tipo de dato: str
  - Columna 'NOMBRE_CLUES' tiene un solo tipo de dato: str
  - Columna 'MES' tiene un solo tipo de dato: int
  - Columna 'ANIO' tiene un solo tipo de dato: int
  - Columna 'ADL02' tiene un solo tipo de dato: float
  - Columna 'ADL03' tiene un solo tipo de dato: float
  - Columna 'ADL05' tiene un solo tipo de dato: float
  - Columna 'ADL06' tiene un solo tipo de dato: float
  - Columna 'ADL08' tiene un solo tipo de dato: float
  - Columna 'ADL09' tiene un solo tipo de dato: float
  - Columna 'ADL11' tiene un solo tipo de dato: float
  - Columna 'ADL12' tiene un solo tipo de dato: float
  - Columna 'ADL14' tiene un solo tipo de dato: float
  - Columna 'ADL15' tiene un solo tipo de dato: float
  - Columna 'ADL17' tiene un solo tipo de dato: float
  - Columna 'ADL18' tiene un solo tipo de dato: float
  - Columna 'ADM02' tiene un solo tipo de dato: float
  - Columna 'ADM03' tiene un solo tipo de dato: float
  - Columna 'ADM05' tiene un solo tipo de dato: float
  - Columna 'ADM06' tiene un solo tipo de dato: float
  - Columna 'ADM08' tiene un solo tipo de dato: float
  - Columna 'ADM09' tiene un solo tipo de dato: float
  - Columna 'ADM11' tiene un solo tipo de dato: float
  - Columna 'ADM12' tiene un solo tipo de dato: float
  - Columna 'ADM14' tiene un solo tipo de dato: float
  - Columna 'ADM15' tiene un solo tipo de dato: float
  - Columna 'ADM17' tiene un solo tipo de dato: float
  - Columna 'ADM18' tiene un solo tipo de dato: float
  - Columna 'AEC02' tiene un solo tipo de dato: float
  - Columna 'AEC03' tiene un solo tipo de dato: float
  - Columna 'AEC05' tiene un solo tipo de dato: float
  - Columna 'AEC06' tiene un solo tipo de dato: float
  - Columna 'AEC08' tiene un solo tipo de dato: float
  - Columna 'AEC09' tiene un solo tipo de dato: float
  - Columna 'AEC11' tiene un solo tipo de dato: float
  - Columna 'AEC12' tiene un solo tipo de dato: float
  - Columna 'AEC14' tiene un solo tipo de dato: float
  - Columna 'AEC15' tiene un solo tipo de dato: float
  - Columna 'AEC17' tiene un solo tipo de dato: float
  - Columna 'AEC18' tiene un solo tipo de dato: float
  - Columna 'AHA02' tiene un solo tipo de dato: float
  - Columna 'AHA03' tiene un solo tipo de dato: float
  - Columna 'AHA05' tiene un solo tipo de dato: float
  - Columna 'AHA06' tiene un solo tipo de dato: float
  - Columna 'AHA08' tiene un solo tipo de dato: float
  - Columna 'AHA09' tiene un solo tipo de dato: float
  - Columna 'AHA11' tiene un solo tipo de dato: float
  - Columna 'AHA12' tiene un solo tipo de dato: float
  - Columna 'AHA14' tiene un solo tipo de dato: float
  - Columna 'AHA15' tiene un solo tipo de dato: float
  - Columna 'AHA17' tiene un solo tipo de dato: float
  - Columna 'AHA18' tiene un solo tipo de dato: float
  - Columna 'AOB02' tiene un solo tipo de dato: float
  - Columna 'AOB03' tiene un solo tipo de dato: float
  - Columna 'AOB05' tiene un solo tipo de dato: float
  - Columna 'AOB06' tiene un solo tipo de dato: float
  - Columna 'AOB08' tiene un solo tipo de dato: float
  - Columna 'AOB09' tiene un solo tipo de dato: float
  - Columna 'AOB11' tiene un solo tipo de dato: float
  - Columna 'AOB12' tiene un solo tipo de dato: float
  - Columna 'AOB14' tiene un solo tipo de dato: float
  - Columna 'AOB15' tiene un solo tipo de dato: float
  - Columna 'AOB17' tiene un solo tipo de dato: float
  - Columna 'AOB18' tiene un solo tipo de dato: float
  - Columna 'PDM01' tiene un solo tipo de dato: float
  - Columna 'RHP01' tiene un solo tipo de dato: float
  - Columna 'RHP02' tiene un solo tipo de dato: float

Análisis de tipos de datos en DA_EC_SIS_2014_normalizado.csv (codificación: utf-8):
  - Columna 'CLAVE_ENTIDAD' tiene un solo tipo de dato: int
  - Columna 'ENTIDAD' tiene un solo tipo de dato: str
  - Columna 'CLAVE_MUNICIPIO' tiene un solo tipo de dato: int
  - Columna 'MUNICIPIO' tiene un solo tipo de dato: str
  - Columna 'CLUES' tiene un solo tipo de dato: str
  - Columna 'NOMBRE_CLUES' tiene un solo tipo de dato: str
  - Columna 'MES' tiene un solo tipo de dato: int
  - Columna 'ANIO' tiene un solo tipo de dato: int
  - Columna 'ADL02' tiene un solo tipo de dato: float
  - Columna 'ADL03' tiene un solo tipo de dato: float
  - Columna 'ADL05' tiene un solo tipo de dato: float
  - Columna 'ADL06' tiene un solo tipo de dato: float
  - Columna 'ADL08' tiene un solo tipo de dato: float
  - Columna 'ADL09' tiene un solo tipo de dato: float
  - Columna 'ADL11' tiene un solo tipo de dato: float
  - Columna 'ADL12' tiene un solo tipo de dato: float
  - Columna 'ADL14' tiene un solo tipo de dato: float
  - Columna 'ADL15' tiene un solo tipo de dato: float
  - Columna 'ADL17' tiene un solo tipo de dato: float
  - Columna 'ADL18' tiene un solo tipo de dato: float
  - Columna 'ADM02' tiene un solo tipo de dato: float
  - Columna 'ADM03' tiene un solo tipo de dato: float
  - Columna 'ADM05' tiene un solo tipo de dato: float
  - Columna 'ADM06' tiene un solo tipo de dato: float
  - Columna 'ADM08' tiene un solo tipo de dato: float
  - Columna 'ADM09' tiene un solo tipo de dato: float
  - Columna 'ADM11' tiene un solo tipo de dato: float
  - Columna 'ADM12' tiene un solo tipo de dato: float
  - Columna 'ADM14' tiene un solo tipo de dato: float
  - Columna 'ADM15' tiene un solo tipo de dato: float
  - Columna 'ADM17' tiene un solo tipo de dato: float
  - Columna 'ADM18' tiene un solo tipo de dato: float
  - Columna 'AEC02' tiene un solo tipo de dato: float
  - Columna 'AEC03' tiene un solo tipo de dato: float
  - Columna 'AEC05' tiene un solo tipo de dato: float
  - Columna 'AEC06' tiene un solo tipo de dato: float
  - Columna 'AEC08' tiene un solo tipo de dato: float
  - Columna 'AEC09' tiene un solo tipo de dato: float
  - Columna 'AEC11' tiene un solo tipo de dato: float
  - Columna 'AEC12' tiene un solo tipo de dato: float
  - Columna 'AEC14' tiene un solo tipo de dato: float
  - Columna 'AEC15' tiene un solo tipo de dato: float
  - Columna 'AEC17' tiene un solo tipo de dato: float
  - Columna 'AEC18' tiene un solo tipo de dato: float
  - Columna 'AHA02' tiene un solo tipo de dato: float
  - Columna 'AHA03' tiene un solo tipo de dato: float
  - Columna 'AHA05' tiene un solo tipo de dato: float
  - Columna 'AHA06' tiene un solo tipo de dato: float
  - Columna 'AHA08' tiene un solo tipo de dato: float
  - Columna 'AHA09' tiene un solo tipo de dato: float
  - Columna 'AHA11' tiene un solo tipo de dato: float
  - Columna 'AHA12' tiene un solo tipo de dato: float
  - Columna 'AHA14' tiene un solo tipo de dato: float
  - Columna 'AHA15' tiene un solo tipo de dato: float
  - Columna 'AHA17' tiene un solo tipo de dato: float
  - Columna 'AHA18' tiene un solo tipo de dato: float
  - Columna 'AOB02' tiene un solo tipo de dato: float
  - Columna 'AOB03' tiene un solo tipo de dato: float
  - Columna 'AOB05' tiene un solo tipo de dato: float
  - Columna 'AOB06' tiene un solo tipo de dato: float
  - Columna 'AOB08' tiene un solo tipo de dato: float
  - Columna 'AOB09' tiene un solo tipo de dato: float
  - Columna 'AOB11' tiene un solo tipo de dato: float
  - Columna 'AOB12' tiene un solo tipo de dato: float
  - Columna 'AOB14' tiene un solo tipo de dato: float
  - Columna 'AOB15' tiene un solo tipo de dato: float
  - Columna 'AOB17' tiene un solo tipo de dato: float
  - Columna 'AOB18' tiene un solo tipo de dato: float
  - Columna 'PDM01' tiene un solo tipo de dato: float
  - Columna 'RHP01' tiene un solo tipo de dato: float
  - Columna 'RHP02' tiene un solo tipo de dato: float

Análisis de tipos de datos en DA_EC_SIS_2015_normalizado.csv (codificación: utf-8):
  - Columna 'CLAVE_ENTIDAD' tiene un solo tipo de dato: int
  - Columna 'ENTIDAD' tiene un solo tipo de dato: str
  - Columna 'CLAVE_MUNICIPIO' tiene un solo tipo de dato: int
  - Columna 'MUNICIPIO' tiene un solo tipo de dato: str
  - Columna 'CLUES' tiene un solo tipo de dato: str
  - Columna 'NOMBRE_CLUES' tiene un solo tipo de dato: str
  - Columna 'MES' tiene un solo tipo de dato: int
  - Columna 'ANIO' tiene un solo tipo de dato: int
  - Columna 'ADL02' tiene un solo tipo de dato: float
  - Columna 'ADL03' tiene un solo tipo de dato: float

Mis bases tienen esta forma, deseo crear bases de datos relacionales
CLAVE_ENTIDAD,ENTIDAD,CLAVE_MUNICIPIO,MUNICIPIO,CLUES,NOMBRE_CLUES,MES,ANIO,ADL02,ADL03,ADL05,ADL06,ADL08,ADL09,ADL11,ADL12,ADL14,ADL15,ADL17,ADL18,ADM02,ADM03,ADM05,ADM06,ADM08,ADM09,ADM11,ADM12,ADM14,ADM15,ADM17,ADM18,AEC02,AEC03,AEC05,AEC06,AEC08,AEC09,AEC11,AEC12,AEC14,AEC15,AEC17,AEC18,AHA02,AHA03,AHA05,AHA06,AHA08,AHA09,AHA11,AHA12,AHA14,AHA15,AHA17,AHA18,AOB02,AOB03,AOB05,AOB06,AOB08,AOB09,AOB11,AOB12,AOB14,AOB15,AOB17,AOB18,FRS01,FRS02,FRS03,FRS04,HBA01,HBA02,HBA03,PDM02,PDM03,PMA01,RUN01

Se me ocurre que tengan esta forma, consideras que es apropiada?

Tabla "Unidades_Salud: CLAVE_ENTIDAD,ENTIDAD,CLAVE_MUNICIPIO,MUNICIPIO,CLUES,NOMBRE_CLUES

Tabla "Enfermedades": construida generando una columna llamada "Codigo_enfermedades" con las columnas que están despues de anio, ya que estas son justo registro de diversas enfermedas, y a estas vamos a generarles un identificador unico "ID_Enfermedad". 

Tabla que se llame "Casos_Enfermedades" vamos a utilizar de nuevo CLUES que es donde se registran las enfermedades, se va a utilizar el "ID_Enfermedad" que generamos antes y que es el registro unico de cada una de ellas. También aquí estará MEs, ANIO y una columna llamada CONTEO. 

Quiero que cada vez que se ejecute el codigo, solo se procese una de las bases que terminan en "_normalizado". El resultado se guardará en una subcarpeta en "Bases salud taller" que tenga el nombre "Base-año" donde el año será extraido del nombre del archivo csv terminado en "_normalizado", el año estará justo antes de ese final. Si la carpeta a generar tiene el nombre de ese archivo, no lo proceses. Debes convertir cada archivo en 3 bases csv que sirvan luego para enviar a una base SQL relacional.

In [12]:
import os
import pandas as pd
import re

# Directorio principal
directory = "Bases saludo taller"

# Iterar sobre los archivos normalizados
for filename in os.listdir(directory):
    if filename.endswith("_normalizado.csv"):
        # Extraer el año del nombre del archivo
        match = re.search(r'(\d{4})_normalizado\.csv$', filename)
        if match:
            year = match.group(1)
            output_dir = os.path.join(directory, f"Base-{year}")

            # Si la carpeta ya existe, omitir el archivo
            if os.path.exists(output_dir):
                print(f"El archivo {filename} ya ha sido procesado. Saltando...")
                continue

            # Crear la carpeta de salida
            os.makedirs(output_dir, exist_ok=True)
            file_path = os.path.join(directory, filename)

            try:
                # Leer el archivo
                df = pd.read_csv(file_path, encoding='utf-8', low_memory=False)

                # Crear tabla Unidades_Salud
                unidades_cols = ["CLAVE_ENTIDAD", "ENTIDAD", "CLAVE_MUNICIPIO", "MUNICIPIO", "CLUES", "NOMBRE_CLUES"]
                df_unidades_salud = df[unidades_cols].drop_duplicates()

                # Crear tabla Enfermedades
                enfermedad_cols = [col for col in df.columns if col not in unidades_cols + ["MES", "ANIO"]]
                enfermedades = [{"ID_ENFERMEDAD": idx + 1, "CODIGO_ENFERMEDAD": col} 
                                 for idx, col in enumerate(enfermedad_cols)]
                df_enfermedades = pd.DataFrame(enfermedades)

                # Crear tabla Casos_Enfermedades
                casos_enfermedades = []
                for index, row in df.iterrows():
                    for col in enfermedad_cols:
                        conteo = row[col]
                        if pd.notna(conteo) and conteo != "":
                            casos_enfermedades.append({
                                "CLUES": row["CLUES"],
                                "ID_ENFERMEDAD": df_enfermedades[df_enfermedades["CODIGO_ENFERMEDAD"] == col]["ID_ENFERMEDAD"].values[0],
                                "MES": row["MES"],
                                "ANIO": row["ANIO"],
                                "CONTEO": conteo
                            })

                df_casos_enfermedades = pd.DataFrame(casos_enfermedades)

                # Guardar los CSV en la carpeta correspondiente
                df_unidades_salud.to_csv(os.path.join(output_dir, "Unidades_Salud.csv"), index=False)
                df_enfermedades.to_csv(os.path.join(output_dir, "Enfermedades.csv"), index=False)
                df_casos_enfermedades.to_csv(os.path.join(output_dir, "Casos_Enfermedades.csv"), index=False)

                print(f"Archivo {filename} procesado y guardado en {output_dir}.")
                break  # Procesar solo un archivo por ejecución

            except Exception as e:
                print(f"Error al procesar {filename}: {e}")
                continue

Archivo DA_EC_SIS_2010_normalizado.csv procesado y guardado en Bases saludo taller\Base-2010.

dividi mi base usando este codigo para crear bases csv que puedan ser relacionales 
import os
import pandas as pd
import re

# Directorio principal
directory = "Bases saludo taller"

# Iterar sobre los archivos normalizados
for filename in os.listdir(directory):
    if filename.endswith("_normalizado.csv"):
        # Extraer el año del nombre del archivo
        match = re.search(r'(\d{4})_normalizado\.csv$', filename)
        if match:
            year = match.group(1)
            output_dir = os.path.join(directory, f"Base-{year}")

            # Si la carpeta ya existe, omitir el archivo
            if os.path.exists(output_dir):
                print(f"El archivo {filename} ya ha sido procesado. Saltando...")
                continue

            # Crear la carpeta de salida
            os.makedirs(output_dir, exist_ok=True)
            file_path = os.path.join(directory, filename)

            try:
                # Leer el archivo
                df = pd.read_csv(file_path, encoding='utf-8', low_memory=False)

                # Crear tabla Unidades_Salud
                unidades_cols = ["CLAVE_ENTIDAD", "ENTIDAD", "CLAVE_MUNICIPIO", "MUNICIPIO", "CLUES", "NOMBRE_CLUES"]
                df_unidades_salud = df[unidades_cols].drop_duplicates()

                # Crear tabla Enfermedades
                enfermedad_cols = [col for col in df.columns if col not in unidades_cols + ["MES", "ANIO"]]
                enfermedades = [{"ID_ENFERMEDAD": idx + 1, "CODIGO_ENFERMEDAD": col} 
                                 for idx, col in enumerate(enfermedad_cols)]
                df_enfermedades = pd.DataFrame(enfermedades)

                # Crear tabla Casos_Enfermedades
                casos_enfermedades = []
                for index, row in df.iterrows():
                    for col in enfermedad_cols:
                        conteo = row[col]
                        if pd.notna(conteo) and conteo != "":
                            casos_enfermedades.append({
                                "CLUES": row["CLUES"],
                                "ID_ENFERMEDAD": df_enfermedades[df_enfermedades["CODIGO_ENFERMEDAD"] == col]["ID_ENFERMEDAD"].values[0],
                                "MES": row["MES"],
                                "ANIO": row["ANIO"],
                                "CONTEO": conteo
                            })

                df_casos_enfermedades = pd.DataFrame(casos_enfermedades)

                # Guardar los CSV en la carpeta correspondiente
                df_unidades_salud.to_csv(os.path.join(output_dir, "Unidades_Salud.csv"), index=False)
                df_enfermedades.to_csv(os.path.join(output_dir, "Enfermedades.csv"), index=False)
                df_casos_enfermedades.to_csv(os.path.join(output_dir, "Casos_Enfermedades.csv"), index=False)

                print(f"Archivo {filename} procesado y guardado en {output_dir}.")
                break  # Procesar solo un archivo por ejecución

            except Exception as e:
                print(f"Error al procesar {filename}: {e}")
                continue

ahora quiero crear la base en MySQL que sea capaz de recibir los datos que acabo de generar
los datos de conexion a la base son 

        host="127.0.0.1",
        user="root",
        password="PruebaEstu2012"
    )

In [ ]:
import os
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

# Datos de conexión a MySQL
config = {
    'host': "127.0.0.1",
    'user': "root",
    'password': "PruebaEstu2012"
}

# Nombre de la base de datos
database_name = "Salud_DB"

# Conectar a MySQL
try:
    conn = mysql.connector.connect(**config)
    cursor = conn.cursor()
    print("Conexión exitosa a MySQL.")
except mysql.connector.Error as err:
    print(f"Error de conexión: {err}")
    exit()

# Crear la base de datos si no existe
try:
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
    print(f"Base de datos '{database_name}' creada o ya existente.")
except mysql.connector.Error as err:
    print(f"Error al crear la base de datos: {err}")
    exit()

# Conectar a la base de datos creada
conn.database = database_name

# Definición de tablas
tables = {
    "Unidades_Salud": (
        """
        CREATE TABLE IF NOT EXISTS Unidades_Salud (
            CLAVE_ENTIDAD VARCHAR(5),
            ENTIDAD VARCHAR(255),
            CLAVE_MUNICIPIO VARCHAR(5),
            MUNICIPIO VARCHAR(255),
            CLUES VARCHAR(20) PRIMARY KEY,
            NOMBRE_CLUES VARCHAR(255)
        )
        """
    ),
    "Enfermedades": (
        """
        CREATE TABLE IF NOT EXISTS Enfermedades (
            ID_ENFERMEDAD INT PRIMARY KEY,
            CODIGO_ENFERMEDAD VARCHAR(20)
        )
        """
    ),
    "Casos_Enfermedades": (
        """
        CREATE TABLE IF NOT EXISTS Casos_Enfermedades (
            ID INT AUTO_INCREMENT PRIMARY KEY,
            CLUES VARCHAR(20),
            ID_ENFERMEDAD INT,
            MES INT,
            ANIO INT,
            CONTEO INT,
            FOREIGN KEY (CLUES) REFERENCES Unidades_Salud(CLUES),
            FOREIGN KEY (ID_ENFERMEDAD) REFERENCES Enfermedades(ID_ENFERMEDAD)
        )
        """
    )
}

# Crear tablas en la base de datos
for table_name, ddl in tables.items():
    try:
        cursor.execute(ddl)
        print(f"Tabla '{table_name}' creada o ya existente.")
    except mysql.connector.Error as err:
        print(f"Error al crear la tabla '{table_name}': {err}")

# Ruta al directorio de las bases
directory = "Bases saludo taller"

# Cargar datos de cada carpeta Base-<AÑO>
for subdir in os.listdir(directory):
    if subdir.startswith("Base-"):
        subdir_path = os.path.join(directory, subdir)
        print(f"\nProcesando datos de {subdir}...")

        try:
            # Cargar Unidades_Salud
            df_unidades = pd.read_csv(os.path.join(subdir_path, "Unidades_Salud.csv"))
            for _, row in df_unidades.iterrows():
                cursor.execute("""
                    INSERT IGNORE INTO Unidades_Salud (CLAVE_ENTIDAD, ENTIDAD, CLAVE_MUNICIPIO, MUNICIPIO, CLUES, NOMBRE_CLUES)
                    VALUES (%s, %s, %s, %s, %s, %s)
                """, tuple(row))

            # Cargar Enfermedades
            df_enfermedades = pd.read_csv(os.path.join(subdir_path, "Enfermedades.csv"))
            for _, row in df_enfermedades.iterrows():
                cursor.execute("""
                    INSERT IGNORE INTO Enfermedades (ID_ENFERMEDAD, CODIGO_ENFERMEDAD)
                    VALUES (%s, %s)
                """, tuple(row))

            # Cargar Casos_Enfermedades
            df_casos = pd.read_csv(os.path.join(subdir_path, "Casos_Enfermedades.csv"))
            for _, row in df_casos.iterrows():
                cursor.execute("""
                    INSERT INTO Casos_Enfermedades (CLUES, ID_ENFERMEDAD, MES, ANIO, CONTEO)
                    VALUES (%s, %s, %s, %s, %s)
                """, tuple(row))

            conn.commit()
            print(f"Datos de {subdir} cargados exitosamente.")

        except Exception as e:
            print(f"Error al cargar datos de {subdir}: {e}")

# Cerrar la conexión
cursor.close()
conn.close()
print("\nProceso de carga finalizado.")

utilizando las bases de datos que están en "Bases saludo taller\Base-2010"  y que convertimos en csv relacionales antes, dame el codigo para enviarlas a esta base de datos en SQL que acabas de crear

In [13]:
import os
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

# Datos de conexión a MySQL
config = {
    'host': "127.0.0.1",
    'user': "root",
    'password': "PruebaEstu2012"
}

# Nombre de la base de datos
database_name = "Salud_DB"

# Conectar a MySQL
try:
    conn = mysql.connector.connect(**config)
    cursor = conn.cursor()
    print("Conexión exitosa a MySQL.")
except mysql.connector.Error as err:
    print(f"Error de conexión: {err}")
    exit()

# Conectar a la base de datos creada
conn.database = database_name

# Ruta al directorio de la base Base-2010
base_2010_dir = os.path.join("Bases saludo taller", "Base-2010")

# Verificar si existe la carpeta Base-2010
if not os.path.exists(base_2010_dir):
    print("La carpeta 'Base-2010' no existe en el directorio especificado.")
    exit()

try:
    # Cargar Unidades_Salud
    df_unidades = pd.read_csv(os.path.join(base_2010_dir, "Unidades_Salud.csv"))
    for _, row in df_unidades.iterrows():
        cursor.execute("""
            INSERT IGNORE INTO Unidades_Salud (CLAVE_ENTIDAD, ENTIDAD, CLAVE_MUNICIPIO, MUNICIPIO, CLUES, NOMBRE_CLUES)
            VALUES (%s, %s, %s, %s, %s, %s)
        """, tuple(row))

    # Cargar Enfermedades
    df_enfermedades = pd.read_csv(os.path.join(base_2010_dir, "Enfermedades.csv"))
    for _, row in df_enfermedades.iterrows():
        cursor.execute("""
            INSERT IGNORE INTO Enfermedades (ID_ENFERMEDAD, CODIGO_ENFERMEDAD)
            VALUES (%s, %s)
        """, tuple(row))

    # Cargar Casos_Enfermedades
    df_casos = pd.read_csv(os.path.join(base_2010_dir, "Casos_Enfermedades.csv"))
    for _, row in df_casos.iterrows():
        cursor.execute("""
            INSERT INTO Casos_Enfermedades (CLUES, ID_ENFERMEDAD, MES, ANIO, CONTEO)
            VALUES (%s, %s, %s, %s, %s)
        """, tuple(row))

    # Confirmar los cambios
    conn.commit()
    print(f"Datos de 'Base-2010' cargados exitosamente.")

except Exception as e:
    print(f"Error al cargar datos de 'Base-2010': {e}")

# Cerrar la conexión
cursor.close()
conn.close()
print("\nProceso de carga finalizado.")

Conexión exitosa a MySQL.
Datos de 'Base-2010' cargados exitosamente.

Proceso de carga finalizado.

dame el codigo para

In [14]:
from sqlalchemy import create_engine, text
import pandas as pd

# Datos de conexión a MySQL
username = "root"
password = "PruebaEstu2012"
host = "127.0.0.1"
database = "Salud_DB"

# Crear la URL de conexión
connection_url = f"mysql+mysqlconnector://{username}:{password}@{host}/{database}"

# Crear el motor de conexión
engine = create_engine(connection_url)

# Consulta SQL para obtener la cantidad total de registros de enfermedades por estado
query = """
    SELECT us.ENTIDAD, SUM(ce.CONTEO) AS TOTAL_REGISTROS
    FROM Casos_Enfermedades ce
    JOIN Unidades_Salud us ON ce.CLUES = us.CLUES
    GROUP BY us.ENTIDAD
    ORDER BY TOTAL_REGISTROS DESC;
"""

# Conectar y ejecutar la consulta
with engine.connect() as connection:
    try:
        result = connection.execute(text(query))
        
        # Convertir el resultado en un DataFrame para mejor visualización
        df_resultados = pd.DataFrame(result.fetchall(), columns=["ENTIDAD", "TOTAL_REGISTROS"])

        # Imprimir los resultados
        print("\nCantidad total de registros de enfermedades por estado:")
        print(df_resultados)

    except Exception as e:
        print(f"Error al ejecutar la consulta: {e}")

Cantidad total de registros de enfermedades por estado:
                ENTIDAD TOTAL_REGISTROS
0            GUANAJUATO         2722761
1                MEXICO         2692349
2              VERACRUZ         2333897
3               JALISCO         2137527
4              GUERRERO         1750473
5      DISTRITO FEDERAL         1408606
6               SINALOA         1400137
7       SAN LUIS POTOSI         1368342
8               TABASCO         1272598
9                OAXACA         1242344
10               PUEBLA         1223091
11            CHIHUAHUA         1177344
12            MICHOACAN          971582
13              HIDALGO          951484
14            ZACATECAS          914936
15           NUEVO LEON          870081
16           TAMAULIPAS          849886
17            QUERETARO          713001
18              CHIAPAS          694491
19              YUCATAN          675652
20             TLAXCALA          653234
21               SONORA          631731
22              MORELOS          621738
23              DURANGO          497658
24      BAJA CALIFORNIA          447715
25       AGUASCALIENTES          346059
26              NAYARIT          340243
27         QUINTANA ROO          339808
28             CAMPECHE          333802
29               COLIMA          283343
30             COAHUILA          265127
31  BAJA CALIFORNIA SUR          190094

utilicé este codigo para enviar datos a mi base de MySQL

import os
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

# Datos de conexión a MySQL
config = {
    'host': "127.0.0.1",
    'user': "root",
    'password': "PruebaEstu2012"
}

# Nombre de la base de datos
database_name = "Salud_DB"

# Conectar a MySQL
try:
    conn = mysql.connector.connect(**config)
    cursor = conn.cursor()
    print("Conexión exitosa a MySQL.")
except mysql.connector.Error as err:
    print(f"Error de conexión: {err}")
    exit()

# Conectar a la base de datos creada
conn.database = database_name

# Ruta al directorio de la base Base-2010
base_2010_dir = os.path.join("Bases saludo taller", "Base-2010")

# Verificar si existe la carpeta Base-2010
if not os.path.exists(base_2010_dir):
    print("La carpeta 'Base-2010' no existe en el directorio especificado.")
    exit()

try:
    # Cargar Unidades_Salud
    df_unidades = pd.read_csv(os.path.join(base_2010_dir, "Unidades_Salud.csv"))
    for _, row in df_unidades.iterrows():
        cursor.execute("""
            INSERT IGNORE INTO Unidades_Salud (CLAVE_ENTIDAD, ENTIDAD, CLAVE_MUNICIPIO, MUNICIPIO, CLUES, NOMBRE_CLUES)
            VALUES (%s, %s, %s, %s, %s, %s)
        """, tuple(row))

    # Cargar Enfermedades
    df_enfermedades = pd.read_csv(os.path.join(base_2010_dir, "Enfermedades.csv"))
    for _, row in df_enfermedades.iterrows():
        cursor.execute("""
            INSERT IGNORE INTO Enfermedades (ID_ENFERMEDAD, CODIGO_ENFERMEDAD)
            VALUES (%s, %s)
        """, tuple(row))

    # Cargar Casos_Enfermedades
    df_casos = pd.read_csv(os.path.join(base_2010_dir, "Casos_Enfermedades.csv"))
    for _, row in df_casos.iterrows():
        cursor.execute("""
            INSERT INTO Casos_Enfermedades (CLUES, ID_ENFERMEDAD, MES, ANIO, CONTEO)
            VALUES (%s, %s, %s, %s, %s)
        """, tuple(row))

    # Confirmar los cambios
    conn.commit()
    print(f"Datos de 'Base-2010' cargados exitosamente.")

except Exception as e:
    print(f"Error al cargar datos de 'Base-2010': {e}")

# Cerrar la conexión
cursor.close()
conn.close()
print("\nProceso de carga finalizado.")


dame, el codigo para crear una app de streamlite que contenga graficos relevantes, como por ejemplo, numero de casos por entidad, distribución de enfermedades (top 10), evolución temporal de los casos, casos por unidad de salud (top5). En el caso de las enfermedades, aleatoriamente mapea 10 nombres de enfermedades  a los valores que devuelva la consulta del top (es decir, mapea 10 nombres de enfermedades, no hablo de los datos) ya que actualmente no cuento con el diccionario de datos para definir ese mapeo. Para  el despliegue usa sqlalchemy ya que los datos son voluminosos, que cada grafica esté  una al lado de la otra, dos por fila, crea 6 graficos. en la misma fila del titulo coloca un contador total de casos registrados

crear como archivo .py y ejecutar con 
python -m streamlit run nombrearchivo.py

In [15]:
import streamlit as st
import pandas as pd
from sqlalchemy import create_engine, text
import random

# Configuración de la conexión a MySQL
username = "root"
password = "PruebaEstu2012"
host = "127.0.0.1"
database = "Salud_DB"

# Crear la URL de conexión
connection_url = f"mysql+mysqlconnector://{username}:{password}@{host}/{database}"
engine = create_engine(connection_url)

# Función para obtener el total de casos
def obtener_total_casos():
    query = "SELECT SUM(CONTEO) AS TOTAL_CASOS FROM Casos_Enfermedades"
    with engine.connect() as connection:
        result = connection.execute(text(query)).fetchone()
    return result[0] if result else 0

# Consulta para el número de casos por entidad
def casos_por_entidad():
    query = """
        SELECT us.ENTIDAD, SUM(ce.CONTEO) AS TOTAL_CASOS
        FROM Casos_Enfermedades ce
        JOIN Unidades_Salud us ON ce.CLUES = us.CLUES
        GROUP BY us.ENTIDAD
        ORDER BY TOTAL_CASOS DESC
    """
    with engine.connect() as connection:
        df = pd.read_sql_query(text(query), connection)
    return df

# Consulta para el top 10 de enfermedades
def top_enfermedades():
    query = """
        SELECT e.CODIGO_ENFERMEDAD, SUM(ce.CONTEO) AS TOTAL_CASOS
        FROM Casos_Enfermedades ce
        JOIN Enfermedades e ON ce.ID_ENFERMEDAD = e.ID_ENFERMEDAD
        GROUP BY e.CODIGO_ENFERMEDAD
        ORDER BY TOTAL_CASOS DESC
        LIMIT 10
    """
    with engine.connect() as connection:
        df = pd.read_sql_query(text(query), connection)
    
    # Mapeo aleatorio de nombres de enfermedades
    nombres_enfermedades = [
        "Diabetes", "Hipertensión", "Asma", "Artritis", "Gripe",
        "Covid-19", "Cáncer", "Tuberculosis", "Hepatitis", "Dengue"
    ]
    mapping = dict(zip(df['CODIGO_ENFERMEDAD'], nombres_enfermedades))
    df['ENFERMEDAD'] = df['CODIGO_ENFERMEDAD'].map(mapping)
    return df

# Consulta para la evolución temporal de los casos
def evolucion_temporal():
    query = """
        SELECT ANIO, MES, SUM(CONTEO) AS TOTAL_CASOS
        FROM Casos_Enfermedades
        GROUP BY ANIO, MES
        ORDER BY ANIO, MES
    """
    with engine.connect() as connection:
        df = pd.read_sql_query(text(query), connection)
    return df

# Consulta para los casos por unidad de salud (top 5)
def casos_por_unidad():
    query = """
        SELECT us.NOMBRE_CLUES, SUM(ce.CONTEO) AS TOTAL_CASOS
        FROM Casos_Enfermedades ce
        JOIN Unidades_Salud us ON ce.CLUES = us.CLUES
        GROUP BY us.NOMBRE_CLUES
        ORDER BY TOTAL_CASOS DESC
        LIMIT 5
    """
    with engine.connect() as connection:
        df = pd.read_sql_query(text(query), connection)
    return df

# Streamlit App
st.set_page_config(layout="wide")

# Título y contador total de casos
st.title("📊 Dashboard de Salud Pública")
total_casos = obtener_total_casos()
st.markdown(f"### Total de Casos Registrados: **{total_casos:,}**")

# Layout para gráficos
col1, col2 = st.columns(2)

# Gráfico 1: Número de casos por entidad
with col1:
    st.subheader("Número de Casos por Entidad")
    df_entidad = casos_por_entidad()
    st.bar_chart(df_entidad.set_index('ENTIDAD'))

# Gráfico 2: Distribución de Enfermedades (Top 10)
with col2:
    st.subheader("Distribución de Enfermedades (Top 10)")
    df_enfermedades = top_enfermedades()
    st.bar_chart(df_enfermedades.set_index('ENFERMEDAD')['TOTAL_CASOS'])

col3, col4 = st.columns(2)

# Gráfico 3: Evolución Temporal de los Casos
with col3:
    st.subheader("Evolución Temporal de los Casos")
    df_temporal = evolucion_temporal()
    df_temporal['FECHA'] = pd.to_datetime(df_temporal['ANIO'].astype(str) + '-' + df_temporal['MES'].astype(str))
    st.line_chart(df_temporal.set_index('FECHA')['TOTAL_CASOS'])

# Gráfico 4: Casos por Unidad de Salud (Top 5)
with col4:
    st.subheader("Casos por Unidad de Salud (Top 5)")
    df_unidad = casos_por_unidad()
    st.bar_chart(df_unidad.set_index('NOMBRE_CLUES'))

col5, col6 = st.columns(2)

# Gráfico 5: Porcentaje de Casos por Entidad
with col5:
    st.subheader("Porcentaje de Casos por Entidad")
    st.pyplot(df_entidad.set_index('ENTIDAD').plot.pie(y='TOTAL_CASOS', autopct='%1.1f%%', figsize=(6, 6)).figure)

# Gráfico 6: Comparativa de Enfermedades (Top 10)
with col6:
    st.subheader("Comparativa de Enfermedades (Top 10)")
    st.line_chart(df_enfermedades.set_index('ENFERMEDAD')['TOTAL_CASOS'])

2025-02-10 21:41:44.032 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-10 21:41:44.034 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-10 21:41:44.535
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\edupe\AppData\Roaming\Python\Python313\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-02-10 21:41:44.536 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-10 21:41:45.229 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-10 21:41:45.230 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-10 21:41:45.230 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-10 21:41:45.231 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-10 21:41:45.231 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-10 21:41:45.232 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-10 21:41:45.232 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

KeyboardInterrupt:

python -m streamlit run streamlite.py